<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mentoring.ProjectC.mapper.LoginMapper">
	<select id="login" parameterType="com.mentoring.ProjectC.model.t3_Member" resultType="com.mentoring.ProjectC.model.t3_Member">
        SELECT *
        FROM t3_Member
        WHERE Member_id = #{MemberId} and Member_passwd = #{MemberPasswd}
    </select>
    
</mapper>
